<head th:fragment="myHead">
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="icon" type="image/svg" th:href="@{/images/icons8-puzzle.svg}"/>
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <link rel="stylesheet" th:href="@{/css/sidebar.css}">
  <link rel="stylesheet" th:href="@{/lib/css/bootstrap.min.css}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
  <script type="text/javascript" th:src="@{/lib/js/jquery.min.js}"></script>
  <script type="text/javascript" th:src="@{/lib/js/bootstrap.min.js}"></script>
  <script type="text/javascript" th:src="@{/js/sidebarToggler.js}"></script>
</head>