<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head :: myHead"></head>


<body>

<div class="wrapper">
    <nav th:replace="fragments/sidebar :: sidebar"></nav>
    <div id="content">
        <nav th:replace="fragments/navbar :: navbar"></nav>

        <div class="page-content">
            <h1>List of Companyes</h1>
            <hr>

            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addModal">New Company
            </button>

            <table class="table">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Revenues</th>
                    <th>Is Active</th>
                    <th>Incorporation Date</th>
                    <th>City</th>
                    <th>Country</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="company:${companyes}">
                    <td th:text="${company.id}"></td>
                    <td th:text="${company.name}"></td>
                    <td th:text="${company.description}"></td>
                    <td th:text="${company.revenues}"></td>
                    <td>
                        <span th:class="${company.isActive == true ? 'fa-solid fa-circle-check green-color' :
                         'fa-solid fa-circle-xmark red-color'}"></span>

                    </td>
                    <td th:text="${#temporals.format(company.incorporationDate, 'dd-MMM-yyyy')}"></td>
                    <td th:text="${company.cityName != null ? company.cityName : 'Nu am oras'}"></td>
                    <td th:text="${company.countryName != null ? company.countryName : 'Nu am tara'}"></td>
                </tr>
                </tbody>
            </table>

            <hr>

            <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <form th:object="${companyModel}" th:action="@{/company/save}" method="post">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Save a Company</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="name" class="col-form-label">Name:</label>
                                    <input type="text" class="form-control" id="name" th:field="*{name}">
                                    <div class="error" th:errors="*{name}" style="color:red"></div>
                                </div>
                                <div class="form-group">
                                    <label for="revenues" class="col-form-label">Revenues:</label>
                                    <input type="number" class="form-control" id="revenues"
                                           th:field="*{revenues}"></input>
                                    <div class="error" th:errors="*{revenues}" style="color:red"></div>
                                </div>
                                <div class="form-group">
                                    <label for="description" class="col-form-label">Description:</label>
                                    <input type="text" class="form-control" id="description" th:field="*{description}">
                                    <div class="error" th:errors="*{description}" style="color:red"></div>
                                </div>
                                <div class="form-group">
                                    <label for="active" class="col-form-label">Active:</label>
                                    <input id="active" type="checkbox" th:field="*{isActive}"/>
                                </div>
                                <div class="form-group">
                                    <label for="incorporation" class="col-form-label">Incorporation Date:</label>
                                    <input type="date" class="form-control" id="incorporation" th:field="*{incorporationDate}">
                                    <div class="error" th:errors="*{incorporationDate}" style="color:red"></div>

                                </div>
                                <div class="form-group">
                                    <label for="city" class="col-form-label">City:</label>
                                    <select class="form-control" id="city" th:field="*{cityId}">
                                        <option th:each="city: ${cities}" th:value="${city.id}">
                                            <span th:text="|${city.name} (${city.countryName})|"></span>
                                        </option>
                                    </select>

                                </div>
                            </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-success">Save</button>
                                </div>
                            </div>

                        </div>
                </form>

            </div>
        </div>
    </div>

</div>

</body>

<script type="text/javascript" th:inline="javascript">

    let errorElement = $('.error');
    if (errorElement.length > 0) {
        $('#addModal').modal('show');
    }



</script>
</html>